<h1>Students</h1>

<button type="button" class="btn btn-light">
<%= link_to 'Join new course',courses_path %>
</button>

<ul>
<h3>Joined Courses</h3>
<div class="row">
    <div class="col-9">
    <div class="row">
        <% @courses.each do |course| %>
        <div class="col-4">
        <div class="card">
        <img class="card-img-top" src="<%= course.img %>" height="180" alt="course img">
        <div class="card-body">
            <h5 class="card-title"><%=  course.name%></h5>
            <p class="card-text"><%= course.desc %></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> <b>Start Date:</b>  <%= course.start %></li>
            <li class="list-group-item"> <b>End Date:</b> <%= course.end %> </li>
        </ul>
   
        </div>
        </div>
<% end %>
</div>
</div>

</ul>