<%= form_for @course do |f| %>

  <div class="form-row">
    <div class="col">
    <%= f.label :name %>
     <%= f.text_field :name ,class:"form-control",placeholder:"Course Name"%>
    </div>
    <div class="col">
    <%= f.label :field %>
<%# <%= f.collection_select :actor_id, Actor.all, :id, :name %> 
  <%= f.text_field :field ,class:"form-control",placeholder:"Course Field"%> 
    
    </div>
  </div>
   <div class="form-row">
    <div class="col">
     <%= f.label :start %>
   <%= f.datetime_field :start ,class:"form-control",placeholder:"Start DateTime"%>
    </div>
    <div class="col">
  <%= f.label :end %>
 <%= f.datetime_field :end ,class:"form-control",placeholder:"End DateTime"%> 
    </div>
  </div>
  <div class="form-row">
    <div class="col">
   <%= f.label :img %>
    <%= f.text_field :img ,class:"form-control",placeholder:"Image Url"%>
    </div>
    
  </div>
<div class="form-row">
    <div class="col">
   <%= f.label :desc %>
   <%= f.text_area :desc,class:"form-control", id:"exampleFormControlTextarea1", rows:"3",placeholder:"Description"%>
    </div>
    
  </div>

<br>
<%= f.submit "Create New Course",class:"btn btn-dark" %>

<% end %>
