
<div class="container-fluid">
<div class="col-9 space">
    <h1>Courses</h1>
    </div>  
        <% if user_signed_in? && current_user.user_type  %>
    <%= link_to 'Add New Course', new_course_path ,class:"btn btn-dark"%>
    <% end %>
<div class="row space">
     <div class="col-12">
    <div class="row">
    <% if user_signed_in? && current_user.user_type  %>

      <%  current_user.courses.each do |course| %>
  
        <div class="col-3">
        <div class="card shadow p-3 mb-5 bg-white rounded">
      <img class="card-img-top" src="<%= course.img %>" height="180" width="150" alt="course img">
            
        <ul class="list-group list-group-flush">
        <li class="list-group-item"> <%= course.name %></li>
            <li class="list-group-item"> <b>Start Date:</b>  <%= course.start %></li>
            <li class="list-group-item"> <b>End Date:</b> <%= course.end %> </li>
        </ul>
        <div class="card-body">
           <a ><%= link_to 'Learn More...', course_path(course), class:"btn btn-dark"%></a>
        </div>
        </div>
        <br>
        </div>

<% end %>
<% else %>
<%  @courses.each do |course| %>
<div class="col-3">
        <div class="card shadow p-3 mb-5 bg-white rounded">
        <img class="card-img-top" src="<%= course.img %>" height="180" width="150" alt="course img">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> <b>Start Date:</b>  <%= course.start %></li>
            <li class="list-group-item"> <b>End Date:</b> <%= course.end %> </li>
        </ul>
        <div class="card-body">
           <a ><%= link_to 'Learn More...', course_path(course), class:"btn btn-dark"%></a>
        </div>
        </div>
        <br>
        </div>
        <% end %>
<% end %>

</div>
</div>

</div>
</div>

