
<div class="container-fluid">
<div class="col-9 space">
    <h1>Courses</h1>
    </div>
<div class="row">
     <div class="col-12">
    <div class="row">
        <%= current_user %>
        <% @courses.each do |course| %>
        <div class="col-3">
        <div class="card shadow p-3 mb-5 bg-white rounded">
        <img class="card-img-top" src="<%= course.img %>" height="180" width="150" alt="course img">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> <b>Start Date:</b>  <%= course.start %></li>
            <li class="list-group-item"> <b>End Date:</b> <%= course.end %> </li>
        </ul>
        <div class="card-body">
           <a ><%= link_to 'Learn More...', course_path(course), class:"btn btn-dark"%></a>
        </div>
        </div>
        <br>
        </div>
<% end %>
</div>
</div>

</div>
</div>